@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Rajdhani:wght@300;400;500;600;700&family=Share+Tech+Mono&display=swap");
$font-montserrat: "Montserrat", sans-serif;
$font-tech: "Share Tech Mono", monospace;
$font-rajdhani: "Rajdhani", sans-serif;

//COLORS
:root {
  --color-primary: #785964;
  --color-primary-dark: #40242a;
  --color-primary-light: #b796ac;

  --color-secondary: #0fa3b1;
  --color-secondary-light: #9ed0e6;

  --color-tertiary: #647859;

  --color-grey: #e6e6e6;

  --bg-color: white;
  --default-font-color: black;
}
[data-theme="dark"] {
  --bg-color: black;
  --default-font-color: white;
  --color-primary-dark: #b796ac;
  --color-primary-light: #40242a;
  --color-tertiary: #e6e6e6;
  --color-secondary: #0fa3b1;
  --color-secondary-light: #0fa3b1;
}
